.wrapper
  .main-title
    .h1 工数入力画面
    %form.Form 
      = link_to "作業入力", new_post_path(@posts), method: :get, class: 'Button'
      
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'Button'
  .main
    .main-contents
      .name
        名前
      .product_name
        品名
      .work_name
        作業名
      .created_at
        開始時間
      .updated_at
        終了時間
      .work_time
        作業時間
      .quantity
        数量
      .production_costs
        工数
      .text
        備考
    - @posts.each do |post|  
      .main-contents-display
        .name
          = post.name
        .product_name
          = post.product_name
        .work_name
          = post.work_name
        .created_at 
          = post.created_at.strftime("%H:%M")
        .updated_at
          = post.updated_at.strftime("%H:%M")
        .work_time
          rrrr
        .quantity
          = post.quantity
        .production_costs
          fffff
        .text
          = post.text
        .end  
         